h2{
    font-size: 45px;
    padding: 20px;
}





img{
    border: solid 2px black;  
    height: 300px;
    width: 300px;
}

img:hover{
    opacity: 70%;
}


p{
    font-size: 16px;
    color: black;
    margin: 10px;
}

li{
    padding: 10px;
}

.footer{
    height: 50px;
    color: black;
    font-size: 16px;
}

.icon>svg{
    fill: white;
    height: 20px;
    width: auto;
   
    justify-content: center;
    align-items: center;
    
}

.icon_2>svg{
    fill: white;
    height: 25px;
    width: auto;
}

a {
    text-decoration: none;
}
    
nav{
    height: 50px;
}

main{
    min-height: 80vh;
}

body {
    max-height: 100vh;
}